body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f5f7fa;
}

/* main */
.main {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  margin: 0 auto;
}

/* main_content */
.main_content {
  background-color: #f3f0eb;
  box-shadow: 6px 6px 20px black;
  padding: 105px 90px;
}

/* about styles */

.about_user {
  /* background-color: yellow; */
  margin-bottom: 40px;
}

.about_position {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 20px;
  color: #000000;
}
.about_name {
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  color: #000000;
  margin-bottom: 25px;
}
.about_description {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  width: 400px;
}

/* project styles */
.projects {
  margin-bottom: 50px;
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin-bottom: 10px;
}

.project_list {
  padding: 0;
  margin-left: 15px;
}

.project_item {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

.project,
.project_link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
.project_link {
  margin-left: 10px;
}

.project_bracket {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

.workxp {
  margin-bottom: 50px;
}

.work_position {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 10px;
}
.organisation {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
}

.period {
  font-style: normal;
  ont-weight: 400;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 10px;
  color: #a8a8a8;
}

.line {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}

.work_list {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  padding: 0px;
  margin-left: 15px;
}
.work_list_item {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
.sidebar {
  background-color: #1e2939;
  padding-top: 40px;
  width: 370px;
}
.photo {
  width: 370px;
  margin-bottom: 50px;
}

.contact,
.tech_skills,
.Soft_skills {
  padding-left: 40px;
}

.contact {
  margin-bottom: 50px;
}
.tech_skills {
  margin-bottom: 50px;
}
.Soft_skills {
  margin-bottom: 50px;
}

.sidebar_title {
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  margin: 0 0 10px 0;
}

.contact_type {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  margin-right: 10px;
}

.contact_link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #727983;
}

.tech_skills_list {
  color: #ffffff;
  padding: 0;
  margin-left: 17px;
}

.tech_skills_item {
  color: #fb6d3a;
}

.tech_skill_text {
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.Soft_skill_list {
  color: #ffffff;
  padding: 0;
  margin-left: 17px;
}
.Soft_skills_item {
  color: #fb6d3a;
}
.Soft_skills_text {
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
